%tr{:id => dom_id(file)}
	%td= link_to_with_icon 'edit', file.local_path, edit_admin_liquid_theme_theme_asset_path(@liquid_theme, file) if file.source
	%td=raw t('theme_asset.get_file', :url => file.source.url)
	%td= file.content_type
	%td= link_to_delete file, :url=>admin_liquid_theme_theme_asset_path(@liquid_theme, file)