%h1= t("liquid_snippet.new")
= form_for(:theme_asset, :url => admin_liquid_theme_theme_assets_path(params[:liquid_theme_id])) do |f|
	= render :partial => "form", :locals => { :f => f }
	= render :partial => "/admin/liquid_templates/t_new_resource_links"